@font-face {
  font-family: 'Gochi';
  src: url('./assets/fonts/GochiHand-Regular.ttf');
}

body {
  font-family: 'Gochi', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

* {
  font-family: 'Gochi', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
